<div class="main-container">
  <div class="container">
    <form class="form" *ngIf="currentUser">
      <p class="title">Edit Profile</p>
      <p class="message">Update your profile information.</p>
      <div class="text-center">
        <img [src]="currentUser.avatar" alt="Profile Image" class="img-fluid mb-3" *ngIf="currentUser.avatar">
      </div>
      <label>
        <input class="input" [(ngModel)]="currentUser.username" name="username" placeholder="" required>
        <span>Username</span>
      </label>

      <label>
        <input class="input" [(ngModel)]="currentUser.firstName" name="firstName" placeholder="" required>
        <span>First Name</span>
      </label>

      <label>
        <input class="input" [(ngModel)]="currentUser.lastName" name="lastName" placeholder="" required>
        <span>Last Name</span>
      </label>

      <label>
        <input class="input" [(ngModel)]="currentUser.email" name="email" placeholder="" required>
        <span>Email</span>
      </label>

      <label>
        <input class="input btn" type="file" (change)="onFileSelected($event)">
        <span>Profile Image</span>
      </label>

      <button (click)="removeProfileImage()" class="submit" *ngIf="currentUser.avatar">Remove Image</button>
      <button (click)="updateProfile()" class="submit">Save Changes</button>
    </form>
  </div>
</div>
