<div class="container col-xxl-8">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
          <h1 class="fw-bold text-body-emphasis lh-1 mb-3">Welcome to Tuxdata: Your Ultimate Resource for Linux Distributions</h1>
          <p class="lead">Explore, compare, and discover the best Linux distributions with Tuxdata. Whether you are a beginner or an expert, here you will find all the information you need to choose the perfect distro for you.
              <strong>Tuxdata</strong> is regularly updated with the latest news, reviews, and guides to help you navigate the vast world of Linux.
          </p>

          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a routerLink="/auth/login" class="btn btn-primary" *ngIf="!isUserLoggedIn">Login</a>
              <a routerLink="/auth/register" class="btn btn-warning" *ngIf="!isUserLoggedIn">Register</a>
              <a routerLink="categories/DE" class="btn btn-primary" *ngIf="isUserLoggedIn">Explore Distributions</a>
          </div>
      </div>
      <div class="col-10 col-lg-6">
          <img src="http://res.cloudinary.com/dz2dgihhs/image/upload/v1719933040/hdmzmkencvt17ahjxlwi.png" class="d-block mx-lg-auto img-fluid mb-5" alt="Neon Themes" loading="lazy">
          <img src="http://res.cloudinary.com/dz2dgihhs/image/upload/v1719588234/lhhzexbbg5yoj6yadtx6.jpg" class="d-block mx-lg-auto img-fluid" alt="Fedora Themes" loading="lazy">
      </div>
  </div>
</div>
