<div class="main-container">
  <div class="container">
    <form class="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <p class="title">Edit Distribution</p>
      <p class="message">Update the details of the distribution.</p>

      <div class="flex">
        <label>
          <input class="input" type="text" id="name" formControlName="name" placeholder="" required />
          <span>Name</span>
        </label>

        <label>
          <input class="input" type="text" id="currentVersion" formControlName="currentVersion" placeholder="" required />
          <span>Current Version</span>
        </label>
      </div>

      <label>
        <input class="input" type="date" id="releaseDate" formControlName="releaseDate" placeholder="" required />
        <span>Release Date</span>
      </label>

      <label>
        <input class="input" type="text" id="description" formControlName="description" placeholder="" required />
        <span>Description</span>
      </label>

      <label>
        <input class="input" type="text" id="officialWebsite" formControlName="officialWebsite" placeholder="" required />
        <span>Official Site</span>
      </label>

      <div class="flex">
        <label>
          <input class="input" type="text" id="baseDistro" formControlName="baseDistro" placeholder="" required />
          <span>Base Distro</span>
        </label>

        <label>
          <input class="input" type="text" id="supportedArchitecture" formControlName="supportedArchitecture" placeholder="" required />
          <span>Supported Architecture</span>
        </label>
      </div>
      <div class="flex">
        <label>
          <input class="input" type="text" id="packageType" formControlName="packageType" placeholder="" required />
          <span>Package Type</span>
        </label>

        <label>
          <input class="input" type="text" id="desktopEnvironment" formControlName="desktopEnvironment" placeholder="" />
          <span>Desktop Environment</span>
        </label>
      </div>
      <div class="flex">
        <label>
          <input class="input btn" type="file" id="logoUrl" (change)="onFileSelected($event, 'logo')" />
          <span>Logo</span>
          <img [src]="distribution.logoUrl" *ngIf="distribution?.logoUrl" alt="Logo" class="img-fluid mt-2">
        </label>

        <label>
          <input class="input btn" type="file" id="desktopImageUrl" (change)="onFileSelected($event, 'desktop')" />
          <span>Desktop Image</span>
          <img [src]="distribution.desktopImageUrl" *ngIf="distribution?.desktopImageUrl" alt="Desktop Image" class="img-fluid mt-2">
        </label>
      </div>
      <button type="submit" class="submit" [disabled]="!editForm.valid">Save Changes</button>
    </form>
  </div>
</div>
