.footer {
  background-color: #14213d;
  font-family: 'Poppins', sans-serif;
  color: #f8d133;
  margin-top: auto;
  width: 100%;
}

.footer-text {
  color: #f8d133;
}

.footer-text:hover {
  color: #e5e5e5;
  transition: 0.1s;
  background-color: transparent;
}

.nav-item .nav-link {
  color: #f8d133;
}

.nav-link:hover {
  color: #e5e5e5;
}
