<footer class="footer py-3">
  <ul class="nav justify-content-center border-bottom border-warning pb-3 mb-3">
    <li class="nav-item"><a routerLink="/" class="nav-link px-2 footer-text">Home</a></li>
    <li class="nav-item"><a routerLink="/categories/new-release" class="nav-link px-2 footer-text">New Releases</a></li>
    <li class="nav-item"><a routerLink="/categories/DE" class="nav-link px-2 footer-text">Desktop Environment</a></li>
    <li class="nav-item"><a routerLink="/categories/distributions-list" class="nav-link px-2 footer-text">Distribution List</a></li>
    <li class="nav-item"><a routerLink="/about" class="nav-link px-2 footer-text">About</a></li>
  </ul>
  <p class="text-center footer-text">TuxData © 2024 Company, Inc   <img src="https://res.cloudinary.com/dz2dgihhs/image/upload/v1720101686/tux_logo_oqrdom.png" alt="tux logo" style="width: 50px;">
  </p>
</footer>
