<footer class="footer py-3">
  <p class="nav-item">
    <a href="/about" class="nav-link px-2 footer-text text-center pt-2">
      Guiding Your Journey Through the Linux Landscape
    </a>
  </p>
  <ul class="nav justify-content-center border-bottom border-warning pb-3 mb-3">
    <li class="nav-item active">
      <a class="nav-link font" routerLink="/"><i class="bi bi-house"></i> Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font" routerLink="categories/new-release"><i class="bi bi-star"></i> New Releases</a>
    </li>
    <li class="nav-item" *ngIf="isUserLoggedIn">
      <a class="nav-link font" routerLink="categories/DE"><i class="bi bi-display"></i> Desktop Environment</a>
    </li>
    <li class="nav-item" *ngIf="isUserLoggedIn">
      <a class="nav-link font" routerLink="categories/distributions-list"><i class="bi bi-list"></i> Distributions List</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link font" routerLink="/about"><i class="bi bi-info-circle"></i> About</a>
    </li>
  </ul>
  <p class="text-center footer-text">
    TuxData © 2024 Company, Inc
    <img src="https://res.cloudinary.com/dz2dgihhs/image/upload/v1720101686/tux_logo_oqrdom.png" alt="tux logo" style="width: 50px" />
  </p>
</footer>
