<div class="main-container">
  <div class="container">
    <div class="form_area p-1 m-3">
      <p class="title pt-4">Add new Distribution!</p>
      <form (ngSubmit)="createDistribution()" #distributionForm="ngForm">
        <div class="form_group">
          <label class="sub_title" for="name">Name</label>
          <input
            name="name"
            placeholder="Inserisci un nome"
            class="form_style"
            type="text"
            [(ngModel)]="newDistribution.name"
            required
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="currentVersion">Current Version</label>
          <input
            name="currentVersion"
            placeholder="Inserisci la versione corrente"
            class="form_style"
            type="text"
            [(ngModel)]="newDistribution.currentVersion"
            required
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="releaseDate">Release Date</label>
          <input
            name="releaseDate"
            placeholder="Inserisci la data di rilascio"
            class="form_style"
            type="date"
            [(ngModel)]="newDistribution.releaseDate"
            required
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="description">Description</label>
          <input
            name="description"
            placeholder="Inserisci la descrizione"
            class="form_style"
            type="text"
            [(ngModel)]="newDistribution.description"
            required
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="officialWebsite">Official Site</label>
          <input
            name="officialWebsite"
            placeholder="Inserisci il sito ufficiale"
            class="form_style"
            type="text"
            [(ngModel)]="newDistribution.officialWebsite"
            required
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="baseDistro">Base Distro</label>
          <input
            name="baseDistro"
            placeholder="Inserisci la distro di base"
            class="form_style"
            type="text"
            [(ngModel)]="newDistribution.baseDistro"
            required
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="supportedArchitecture">Supported Architecture</label>
          <input
            name="supportedArchitecture"
            placeholder="Inserisci l'architettura supportata"
            class="form_style"
            type="text"
            [(ngModel)]="newDistribution.supportedArchitecture"
            required
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="packageType">Package Type</label>
          <input
            name="packageType"
            placeholder="Inserisci il tipo di pacchetto"
            class="form_style"
            type="text"
            [(ngModel)]="newDistribution.packageType"
            required
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="desktopEnvironment">Desktop Environment</label>
          <input
            name="desktopEnvironment"
            placeholder="Inserisci l'ambiente desktop"
            class="form_style"
            type="text"
            [(ngModel)]="newDistribution.desktopEnvironment"
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="logo">Logo</label>
          <input
            name="logo"
            class="form_style btn"
            type="file"
            (change)="onFileSelected($event, 'logo')"
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="desktopImage">Desktop Image</label>
          <input
            name="desktopImage"
            class="form_style btn"
            type="file"
            (change)="onFileSelected($event, 'desktopImage')"
          />
        </div>
        <div>
          <button type="submit" class="btn" [disabled]="!distributionForm.form.valid">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
