.container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card {
  width: 100%;
  border-radius: 10px;
  box-shadow: #525252 0 5px 15px -5px;
  background-image: linear-gradient(144deg, #14213D, #20345e 50%, #a68200);
  color: #f1bd00;
  margin: 0 auto;
}

.card-body {
  padding: 15px;
}

.img-logo {
  width: 70px;
  height: 70px;
}

.img-distro {
  width: 100%;
  height: auto;
}

.card-text {
  text-overflow: ellipsis;
}

.comment-box {
  background: #0f3f4e;
  border-radius: 10px;
  color: #00b9ab;
}

.comment-box strong {
  color: #f1bd00;
}

.comment-box p {
  margin-bottom: 0;
}

textarea.form-control {
  background: #0f3f4e;
  border: 1px solid #00b9ab;
  color: #f1bd00;
}

textarea.form-control::placeholder {
  color: #00b9ab;
}

textarea.form-control:focus {
  border-color: #f1bd00;
  box-shadow: none;
}



.btn-primary:hover {
  background-color: #14213d;
  border-color: #14213d;
}

.btn-danger {
  background-color: #ff4c4c;
  border-color: #ff4c4c;
}

.btn-danger:hover {
  background-color: #e60000;
  border-color: #e60000;
}

.btn-warning {
  background-color: #f8d133;
  border-color: #f8d133;
  color: #14213D;
}

.btn-warning:hover {
  background-color: #e6c200;
  border-color: #e6c200;
}
