<div class="container mt-5">
  <div *ngIf="distributionArr.length > 0; else noDistribution">
    <div *ngFor="let distro of distributionArr" class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img [src]="distro.logoUrl" alt="{{ distro.name }} logo" class="img-fluid">
          </div>
          <div class="col-md-9">
            <h5 class="card-title">{{ distro.name }}</h5>
            <p class="card-text">Current Version: {{ distro.currentVersion }}</p>
            <p class="card-text">Release Date: {{ distro.releaseDate }}</p>
            <p class="card-text">Description: {{ distro.description }}</p>
            <p class="card-text">Base Distro: {{ distro.baseDistro }}</p>
            <p class="card-text">Supported Architecture: {{ distro.supportedArchitecture }}</p>
            <p class="card-text">Package Type: {{ distro.packageType }}</p>
            <p class="card-text" *ngIf="distro.desktopEnvironment">Desktop Environment: {{ distro.desktopEnvironment }}</p>
            <a [href]="distro.officialWebsite" class="btn btn-primary" target="_blank">Official Site</a>
            <div>
              <button *ngIf="isAdmin" (click)="deleteDistribution(distro.id)" class="btn btn-danger ml-2">Remove</button>
              <button *ngIf="isAdmin" [routerLink]="['/distributionDetails/edit', distro.id]" class="btn btn-secondary ml-2">Edit</button>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <img [src]="distro.desktopImageUrl" alt="{{ distro.name }} desktop" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <ng-template #noDistribution>
    <p>No distribution details available.</p>
  </ng-template>
</div>
