<div class="container mt-5">
  <h1 class="text-center">Distributions by Desktop Environment</h1>
  <div class="form-group">
    <label for="desktopEnvironment">Select Desktop Environment:</label>
    <select id="desktopEnvironment" class="form-control" (change)="onEnvironmentChange($event)">
      <option value="GNOME">GNOME</option>
      <option value="KDE">KDE</option>
      <option value="XFCE">XFCE</option>
      <option value="LXDE">LXDE</option>
      <option value="CINNAMON">CINNAMON</option>
      <option value="MATE">MATE</option>
    </select>
  </div>
  <div class="mt-3">
    <h3 class="text-center">{{ selectedEnvironment }} Description</h3>
    <p>{{ environmentDescription }}</p>
  </div>
  <div *ngIf="distributions.length > 0; else noDistributions" class="row">
    <div *ngFor="let distro of distributions" class="card m mb-3 col-12 col-md-6">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img [src]="distro.logoUrl" alt="{{ distro.name }} logo" class="img-fluid">
          </div>
          <div class="col-md-9">
            <h5 class="card-title">{{ distro.name }}</h5>
            <p class="card-text">{{ distro.description }}</p>
            <a [href]="distro.officialWebsite" class="btn btn-primary" target="_blank">Official Website</a>
            <button (click)="viewDetails(distro.id)" class="btn btn-info m-2">Details</button>
            <button *ngIf="isAdmin" (click)="deleteDistribution(distro.id)" class="btn btn-danger ml-2">Remove</button>
          </div>
        </div>
        <div class="mt-3">
          <img [src]="distro.desktopImageUrl" alt="{{ distro.name }} desktop" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <ng-template #noDistributions>
    <p>No distributions available.</p>
  </ng-template>
</div>
