<div class="container mt-5 text">
  <h1 class="text-center">Distributions by Desktop Environment</h1>
  <div class="col-12 text-center mt-4">
    <div class="form-group d-inline-block">
      <label for="desktopEnvironment">Select Desktop Environment:</label>
      <select id="desktopEnvironment" class="form-control" (change)="onEnvironmentChange($event)">
        <option value="GNOME">GNOME</option>
        <option value="KDE">KDE</option>
        <option value="XFCE">XFCE</option>
        <option value="LXDE">LXDE</option>
        <option value="CINNAMON">CINNAMON</option>
        <option value="MATE">MATE</option>
      </select>
    </div>
  </div>
  <div class="mt-3">
    <h2 class="text-center">{{ selectedEnvironment }}</h2>
    <p class="text-center pb-2">{{ environmentDescription }}</p>
  </div>
  <div *ngIf="distributions.length > 0; else noDistributions" class="row justify-content-center">
    <div *ngFor="let distro of distributions" class="col-xl-4 col-lg-6 col-md-6 col-12">
      <div class="card mb-5">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <img [src]="distro.logoUrl" alt="{{ distro.name }} logo" class="img-fluid img-logo">
            </div>
            <div class="col-12">
              <h5 class="card-title">{{ distro.name }}</h5>
              <p class="card-text">{{ distro.description }}</p>
              <a [href]="distro.officialWebsite" class="btn btn-primary" target="_blank">Official Website</a>
              <button (click)="viewDetails(distro.id)" class="btn btn-info m-2">Details</button>
              <button *ngIf="isAdmin" (click)="deleteDistribution(distro.id)" class="btn btn-danger ml-2">Remove</button>
            </div>
          </div>
          <div class="mt-3">
            <img [src]="distro.desktopImageUrl" alt="{{ distro.name }} desktop" class="img-fluid img-distro">
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noDistributions>
    <p>No distributions available.</p>
  </ng-template>
</div>
