<div class="container col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-5 py-5">
      <div class="col-lg-12">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About Tuxdata</h1>
          <p class="lead">
              Hello! My name is Emanuel, and I am the creator of Tuxdata. My journey into the world of Linux began in 2006 when I first discovered Ubuntu 6.06.
              Since that moment, a whole new world opened up for me, sparking a passion that has driven me to pursue a career in software development.
          </p>
          <p class="lead">
              Tuxdata was born out of my love for Linux and the desire to help others explore, compare, and discover the myriad of Linux distributions available.
              Whether you are just starting your Linux journey or are a seasoned expert, my goal is to provide you with comprehensive information, up-to-date news,
              and insightful reviews to assist you in finding the perfect distro for your needs.
          </p>
          <p class="lead">
              As a young developer with a deep appreciation for the open-source community, I am committed to continuously improving Tuxdata and ensuring it remains
              a valuable resource for Linux enthusiasts around the world. Thank you for visiting, and I hope you find Tuxdata helpful and inspiring.
          </p>
      </div>
  </div>
</div>
