.mainNav {
  background-color: #14213d;
}

.brand {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.logo {
  width: 150px;
  margin-left: 25px;
  margin-bottom: 5px;
}

.font {
  color: #f8d133;

}

.font:hover {
  color: #e5e5e5;
  transition: 0.1s;
  transform: scale(1.02);
  background-color: transparent;
}

.dropDiv {
  background-color: #14213d;
}



