@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,100;1,500;&display=swap');

.mainNav {
  background-color: #14213d;
  font-family: "Poppins", sans-serif;
}

.brand {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.logo {
  width: 50px;
  margin-left: 25px;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
}

.navbar-collapse {
  flex-basis: auto;
  flex-grow: 1;
}

.font {
  color: #fca311;
  font-weight: bold;
}

.font:hover {
  color: #e5e5e5;
  transition: 0.1s;
  transform: scale(1.02);
  background-color: transparent;
}

.dropDiv {
  background-color: #14213d;
}

@media screen and (max-width: 991px) {
  .logo {
    display: none;
  }

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
  }
}


