<div class="main-container">
  <div class="container">
    <div class="form_area">
      <p class="title mt-3">Register</p>
      <form>
        <div class="form_group">
          <label class="sub_title" for="firstName">Name</label>
          <input
            name="firstName"
            placeholder="Name"
            class="form_style"
            type="text"
            [(ngModel)]="registerData.firstName"
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="lastName">Last Name</label>
          <input
            name="lastName"
            placeholder="Last Name"
            class="form_style"
            type="text"
            [(ngModel)]="registerData.lastName"
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="mail">Mail</label>
          <input
          name="mail"
          placeholder="Mail"
          class="form_style"
          type="email"
          [(ngModel)]="registerData.email"
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="phone">Username</label>
          <input
            name="phone"
            placeholder="Username"
            class="form_style"
            type="number"
            [(ngModel)]="registerData.username"
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="password">Password</label>
          <input
          name="password"
            placeholder="Password"
            class="form_style"
            type="password"
            [(ngModel)]="registerData.password"
          />
        </div>
        <input type="file" (change)="onFileSelected($event)" class="form-control btn">
        <div>
          <button type="submit" class="btn btn-success">Sign Up</button>
          <p>
            You have an account?
            <a class="link" routerLink="/auth/login">Sign In</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
